.figure-caption {
  position: absolute;
  top: 100%;
  width: 100%;
  padding: .2rem;
}

video {
  max-width: 100% !important;
  max-height: 100% !important;
  object-fit: cover;
  background-color: black;
  cursor: pointer;
  outline: none;
}

iframe {
  width: 100%;
  height: 100% !important;
}

.novideo {
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
}

.poster {
  font-size: 3em;
}
